body{
  background-color: lavender;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}
    h1 
    {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: darkslateblue;
      background-color: lavender;
      text-align: center;
    }

    h2
    {font-family: 'Courier New', Courier, monospace;}

    ul {
      color: midnightblue;
    }

    li {
      color: indigo;
      font-family:'Courier New', Courier, monospace;
      line-height: 120%;
      font-size: large;
    }
  .nav-enlace {
      background-color: #945c87;
      color: #fff;
      padding: 10px 30px;
  }
  
  .nav-enlace:hover {
      background-color: #d495d1;
  }
  
  nav {
      background-color: rgb(85, 32, 83);
      padding: 10px;
      display: flex;
      justify-content: space-around;
  }
  header, section, footer {
    padding: 20px;
    color: white;
}
header {
    background-color: lavender;
    border: 2px solid #ccc;
}
section {
    border: 2px solid #ccc;
    background-color: #7953b8;
    min-height: 200px;
}
footer {
    border: 2px solid #ccc;
    background-color: #343a40;
    text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}
section{
  border: 2px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.s1{  background-color: #482a52;}
.s2{  background-color: #724796;}
.s3{  background-color: #854a78;}
.s4{  background-color: #9c77b4;}