body{
    background-color: lavender;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }
  .nav-enlace {
    background-color: #945c87;
    color: #fff;
    padding: 10px 30px;
}

.nav-enlace:hover {
    background-color: #d495d1;
}

nav {
    background-color: rgb(85, 32, 83);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}  
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    background-color: #f5f5f5;
    padding: 45px 45px 30px 30px;
    margin-top: 50px;
    justify-content: center;
    box-shadow: 0 0 20px rgba(107, 0, 59, 0.2);
 }
 form h2{
    font-size: 35px;
    margin-bottom: 35px;
    color: #7953b8;
 }
input{
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 25px;
    color: #34075e;
    outline: none;
    font-size: 16px;
}
.btn{
    background-color: #724796;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: #3d033a;

}
@media(max-midth:991px){
    body{
        padding: 30px;
        
    }
    form{
        width: 340px;
    }
}